<a href="https://colab.research.google.com/github/juliocesarortiz/DataScience/blob/main/Colab_DSA02_07_01_Act%C3%ADvate_Seleccionando_informaci%C3%B3n_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 2. Plataformas de Aplicación sobre Python**
---

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

**TEMA 2. Seleccionando información con Pandas**

Cree un script en Python que utilice el archivo starships.cvs para realizar las siguientes actividades:

1. Un dataframe que contenga solamente tenga los primeros 10 registros

2. Un dataframe que contenga todos los registros pero sólo las columnas name, model, cost_in_credits y passengers

3. Un dataframe que contenga las naves cuya tripulación (crew) es mayor a 100 y que tenga las columnas name, cost_in_credits y passengers

4. Agregar una nueva columna (relation) que contenga la relación entre pasajeros y tripulación (passengers / crew)

5. Agregar una nueva columna (size) con el valor LARGE cuando la longitud (length) sea mayor a 2000 y el valor SMALL en caso contrario. Además de la nueva columna solamente debe contener las columnas name, passengers, cargo_capacity y starship_class.